# Firebase Emulator Ports
FIRESTORE_EMULATOR_PORT=8090
AUTH_EMULATOR_PORT=9109
STORAGE_EMULATOR_PORT=9209
FUNCTIONS_EMULATOR_PORT=5011
EMULATOR_UI_PORT=4010

# Application URL
APP_URL=http://localhost:5183

# Firebase Project ID
FIREBASE_PROJECT_ID=serigrafie-brasov
